<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
  </head>
  <body>
    <%- include('./partials/nav') %> 
    <% if (user) { %>
      <h1>Welcome to the app, <%= user.name %>!</h1>
      <% } else { %>
      <h1>Welcome to the app, guest.</h1>
      <% } %>
    <p>An app for chatting with your friends </p>

    
    <% allPosts.forEach(chat => { %>
      <h4> <%= chat.name %> : <%= chat.message %> </h4>
     
    <% }) %>



    <%- include('./partials/chat') %>
  </body>
</html>